<form class="mb-3" #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)">
    <p>Input username</p>
    <fieldset class="mb-2">
        <input class="form-control" style="width:30%;" type="text" name="username" placeholder="username"
               ngModel
               #username="ngModel"
               id="username"
               required
               minlength="2"
               maxlength="40"
        >
    </fieldset>

    <section *ngIf="username.errors && (username.dirty || username.touched)">
        <div class="alert alert-danger" style="width:30%;">
            <p class="d-flex align-items-center mb-0" *ngIf="username.errors.required">
                <span class="material-icons">warning</span>
                You need to enter a username
            </p>
            <p class="d-flex align-items-center mb-0" *ngIf="username.errors.minlength">
                <span class="material-icons">warning</span>
                The username you chose is too short
            </p>
        </div>
    </section>


    <br/>
    <button
        type="submit"
        [disabled]="userlogin.form.invalid"
        class="btn btn-primary d-flex align-items-center">
        <span class="material-icons">lock</span>
        Login
    </button>
</form>
