<nav class="navbar navbar-expand justify-content-between navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg" alt="" width="60" height="24" class="d-inline-block align-text-top">
            Pokemon Trainer</a>
        <div class="navbar navbar-default" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" [routerLink]="" (click)="goToProfile()">Profile</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" [routerLink]="" (click)="logOut()">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
