<div class="card-deck mx-5" *ngIf="pokemons">
    <h2>The Pokemon Catalogue</h2>
    <p class="text-center">Click on a pokemon to catch them</p>
    <div (click)="catchPokemon(pokemon)" class="card  bg-light mb-3 mx-5" style="width: 18rem; display: inline-block; " *ngFor="let pokemon of pageSlice">
        <img class="card-img" style="width:100%" alt="{{pokemon.name}}" src="{{ pokemon.avatar }}">
        <div class="card-body">
                <h4 class="card-title">{{ pokemon.name }}</h4>
        </div>
    </div>
</div>

<mat-paginator [length]="pokemons?.length!"
               [pageSize]="21"
               [pageSizeOptions]="[21, 63, 126]"
               (page)="onPageChange($event)">
</mat-paginator>
