.myCard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 300px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: 40px;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

/* On mouse-over, add a deeper shadow */
.myCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.card-container {
    padding: 2px 16px;
    background-color: lightslategray;
}
