<h1 class="text-center">Trainer: {{trainer?.username}}</h1>
<div class="card-deck mx-5">
    <p class="text-center">Click on a pokemon to release them</p>
    <div (click)="releasePokemon(pokemon)" class="card  bg-light mb-3 mx-5" style="width: 18rem; display: inline-block; " *ngFor="let pokemon of trainer?.pokemons">
        <img class="card-img" style="width:100%" alt="{{pokemon.name}}" src="{{ pokemon.avatar }}">
        <div class="card-body">
            <h4 class="card-title">{{ pokemon.name }}</h4>
        </div>
    </div>
</div>
